.no-padding-card .ant-card-meta {
    padding: 0;
  }
  
  .no-padding-card .ant-card-meta .ant-card-meta-title,
  .no-padding-card .ant-card-meta .ant-card-meta-description {
    margin-top: -7px; /* Adjust this value as per your requirements */
    background-color: white;
  }
  