*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #161616;


}

.video-container {

  top: 70px;
  position: relative;
  width: 90%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  margin-inline: auto;
}


.video-container.theater,
.video-container.full-screen {
  max-width: initial;
  width: 100%;
}

.video-container.theater {
  max-height: 90vh;
}

.video-container.full-screen {
  max-height: 100vh;
}

video {
  width: 100%;
}

.video-controls-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  z-index: 100;
  opacity: 1;
  transition: opacity 150ms ease-in-out;
}


.video-controls-container::before {
  content: "";
  position: absolute;
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, .75), transparent);
  width: 100%;
  aspect-ratio: 6 / 1;
  z-index: -1;
  pointer-events: none;
}




.video-controls-container .controls {
  display: flex;
  gap: .5rem;
  padding: .25rem;
  align-items: center;
}

.video-controls-container .controls button {
  background: none;
  border: none;
  color: inherit;
  padding: 0;
  height: 30px;
  width: 30px;
  font-size: 1.1rem;
  cursor: pointer;
  opacity: .85;
  transition: opacity 150ms ease-in-out;
}

.video-controls-container .controls button:hover {
  opacity: 1;
}

.video-container.paused .pause-icon {
  display: none;
}

.video-container:not(.paused) .play-icon {
  display: none;
}

.video-container.theater .tall {
  display: none;
}

.video-container:not(.theater) .wide {
  display: none;
}

.video-container.full-screen .open {
  display: none;
}

.video-container:not(.full-screen) .close {
  display: none;
}

.volume-high-icon,
.volume-low-icon,
.volume-muted-icon {
  display: none;
}

.video-container[data-volume-level="high"] .volume-high-icon {
  display: block;
}

.video-container[data-volume-level="low"] .volume-low-icon {
  display: block;
}

.video-container[data-volume-level="muted"] .volume-muted-icon {
  display: block;
}

.volume-container {
  display: flex;
  align-items: center;
}



.duration-container {
  display: flex;
  align-items: center;
  gap: .25rem;
  flex-grow: 1;
}



.video-controls-container .controls button.wide-btn {
  width: 50px;
}

.volume-slider {
  border-left-color: #434d5a;
  opacity: 0.7;
  width: 0;
  height: 8px;
  transform: scaleX(0);
  transition: width 150ms ease-in-out, transform 150ms ease-in-out;
  accent-color: white;
  outline: none;

}

.volume-container:hover .volume-slider,
.volume-slider:focus-within {
  cursor: pointer;
  width: 100px;
  height: 7px;
  transform: scaleX(1);
}

.timeline-container {
  height: 7px;
  margin-bottom: 8px;
  margin-inline: .5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.timeline-padding {
  width: 100%;
  position: absolute;
  padding: 15px;
  top: -13px;
}

.timeline {
  background-color: rgba(100, 100, 100, .5);
  height: 6px;
  width: 100%;

  position: relative;
}

.timeline::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: calc(100% - var(--progress-position) * 100%);
    background-color: white;
  }

  .timeline::before {
    content: '';
    position: absolute;
    height: 100%;
    left: 0;
    right: calc(100% - var(--progress-position, 0%));
    background-color: white;
  }
  
  .timeline .thumb-indicator {
    --scale: 0.9;
    position: absolute;
    transform: translateX(-50%) scale(var(--scale));
    height: 200%;
    top: -50%;
    left: var(--progress-position, 0%);
    background-color: white;
    border-radius: 50%;
    transition: transform 150ms ease-in-out;
    aspect-ratio: 1 / 1;
  }
.timeline .preview-img,
.timeline .current-time-timeline {
  position: absolute;
  transform: translate(-50%, -100%);
  left: calc(var(--preview-position) * 100%);
  display: none;
}

.timeline .current-time-timeline {
  top: -0.8rem;
}

.timeline .preview-img {
  top: -2.5rem;
  border-radius: .25rem;
  border: 2px solid white;
  aspect-ratio: 16 / 9;
  height: 80px;
}

.thumbnail-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.video-container.scrubbing .thumbnail-img {
  display: block;
}

.video-container.scrubbing .preview-img,
.video-container.scrubbing .current-time-timeline,
.timeline-container:hover .preview-img,
.timeline-container:hover .current-time-timeline {
  display: block;
}

.video-container.scrubbing .timeline::before,
.timeline-container:hover .timeline::before {
  display: block;
}

.video-container.scrubbing .thumb-indicator,
.timeline-container:hover .thumb-indicator {
  --scale: 1;
}

.video-container.scrubbing .timeline {
  height: 100%;
}

.timeline-container:hover .timeline {
  transition: 0.1s ease-out;
  height: 8px;
}

.below-image{
  position: absolute;
  margin-top: 5%;
}

.btn{
  font-size: 30px;
  margin: 20px;
}
.container {
  position: relative;
  margin-top: 4%;
  margin-bottom: 3%;
}

@media (min-width: 992px) {
  .col-md-4 {
      width: 33.33333333%;
  }
}

.bottom{
  position: sticky;
  margin-top: 15%
}
.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
 
}



.thumb {
  overflow: hidden;
  text-align: center;
  height: 350px;
}

.thumbnail {
  display: block;
  padding: 10px;
  margin: 10px;
  line-height: 1.42857143;
  background-color: #3d3c3c;
  border-radius: 4px;
  
}

.videopv {
  position: absolute;
  width: 95%;
  height: 75%;
  top: 0;
  left: 0;
  margin-top: 20px;
  margin-left: 12px;
}

.image-class-web
{
  height: 250px !important;
  transition: ease-out 0.4s;
  width: 100%;
  box-shadow: 0 8px 30px rgba(90, 90, 97, 0.1), 0 4px 6px rgba(31, 24, 24, 0.404);
  transition: ease-out 0.4s;
}
.video-class{
  height: 250px !important;
  box-shadow: 0 8px 30px rgba(90, 90, 97, 0.1), 0 4px 6px rgba(31, 24, 24, 0.404);
  width: 93%;
}

a {
  color: #2a9fd6;
  text-decoration: none;
}

a {
  font-family : inherit;
  background-color: transparent;
}

.page-link{
  background-color: rgb(36, 34, 34);
  border: 2px solid #222;
  cursor: pointer;
  color: grey;
  margin: 3px;
  font-size: larger;
}

.active{
  background-color: #161616 !Important;
  border-color:#161616 !Important;
}

.edit-button-container {
  display: flex;
  justify-content: center;
  margin-top: 200px;
  outline: none;
}